.title {
    display: flex;
    align-items: center;
    justify-content: center;
   	
    background-color: rgba($color: #0ebb87, $alpha: 1.0);
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.container {
    background-color: rgba($color: #0ebb87, $alpha: 1.0);
    width: 100%;
    border-radius: 10px;
    padding-bottom: 1rem;
}

a {
    font-size: 20px;
    margin-top: 1rem;
}
form {
    font-weight: bold;
    font-size: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.address {
    margin-top: 10px;
}
body {
 
    background-color: aquamarine;
}
input, select {
    border-radius: 5px;
    font-size: 18px;
}
button {
    margin-top: 1rem;
    font-size: 20px;
}
table, th, td {
    border: 2px solid;
    td {
        background-color: aquamarine;
    }
    th {
        background-color: #37ddab;
    }
  }
  .items-per-page {
    display: flex;
    margin-bottom: 1rem;
    justify-content: flex-start;
    p {
        margin-left:1rem;
    }
    label {
        margin-right:1rem;
    }
  }
.pagination {
    display: flex;
    margin-right:1rem;
    list-style-type:none;
}
.employee-search {
    display: flex;
    margin-bottom: 1rem;
    
    label {
        margin-right:1rem;
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
    &.open-modal {
      display: flex;
    }
  }
  
  .modal {
    width: 180px;
    height: 50px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: aquamarine;
  }
  
  .modal p {
    margin: 0;
  }
  
  .modal button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
  }

  .page-item {
    &.active {
        button {
            background-color: #37ddab;
            color: white;
        }
    }
  }
 .arrow-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
 }
